<?xml version="1.0" encoding="UTF-8"?>
<project name="bower">
	<!-- Mandatory targets -->
	<target name="init" />
	<target name="install" depends="module.bower.install" />
	<target name="build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

	<!-- toolkit phase : build -->
	<target name="module.bower.install" description="Installs dependencies managed by Bower">
        <exec dir="${application.dir.base}" executable="${bower.executable}" failOnError="true" resolveexecutable="true">
			<arg line="-f install ${bower.install.options}" />
		</exec>
	</target>
</project>
