<?xml version="1.0" encoding="UTF-8"?>
<project name="brunch">
    <!-- Mandatory targets -->
    <target name="init" />
	<target name="install" />
	<target name="build" depends="module.brunch.build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

    <!-- toolkit phase : build -->
    <target name="module.brunch.build" description="Triggers Brunch build">
        <exec dir="${application.dir.base}" executable="${brunch.executable}" failonerror="true">
            <arg line="build ${brunch.build.options} --env=${brunch.environment}" />
        </exec>
    </target>
</project>
