<?xml version="1.0" encoding="UTF-8"?>
<project name="npm">
    <!-- Mandatory targets -->
    <target name="init" />
	<target name="install" depends="module.npm.install" />
	<target name="build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

    <target name="module.npm.install" description="">
        <exec dir="${application.dir.base}" executable="${npm.executable}" failOnError="true">
			<arg line="install" />
		</exec>
    </target>
</project>
