<?xml version="1.0" encoding="UTF-8"?>
<project name="toolkit" default="help">
    <!-- Store toolkit base directory for later use -->
    <dirname property="toolkit.dir.base" file="${ant.file.toolkit}/../.." />

    <!-- Enable ant-contrib (@see http://ant-contrib.sourceforge.net) -->
    <taskdef resource="net/sf/antcontrib/antlib.xml">
        <classpath>
            <pathelement location="${toolkit.dir.base}/vendor/ant-contrib/ant-contrib-1.0b3.jar" />
        </classpath>
    </taskdef>

    <!-- Load toolkit default properties -->
    <property file="${basedir}/toolkit.properties" />

    <!-- Load selected configuration profile properties -->
    <echo message="Searching for configuration profiles in : ${configuration.dir.profiles}" />
    <echo message="Using configuration profile : ${configuration.profile}" />
    <property file="${configuration.dir.profiles}/${configuration.profile}/configuration.properties" />

    <!-- Load mandatory modules -->
    <for list="${toolkit.modules.mandatory}" param="module">
        <sequential>
            <echo>Importing mandatory module : @{module}</echo>
            <import file="${toolkit.dir.base}/modules/@{module}/module.xml" />
            <property file="${toolkit.dir.base}/modules/@{module}/configuration.properties" />
            <property name="toolkit.modules.@{module}" value="true" />
        </sequential>
    </for>

    <!-- Toolkit default properties -->
    <property file="${toolkit.dir.base}/modules/toolkit/configuration.properties" />

    <!-- Import macros -->
    <import file="${toolkit.dir.base}/modules/toolkit/lib/ant/macro.xml" />

    <!-- Import scripts -->
    <import file="${toolkit.dir.base}/modules/toolkit/lib/ant/script.xml" />

    <!-- Make build timestamp available -->
    <tstamp>
        <format property="toolkit.timestamp" pattern="${toolkit.timestamp.format}" />
    </tstamp>

    <!-- Load native modules -->
    <for list="${toolkit.modules}" param="module">
        <sequential>
            <echo>Importing profile module : @{module}</echo>
            <import file="${toolkit.dir.base}/modules/@{module}/module.xml" />
            <property file="${toolkit.dir.base}/modules/@{module}/configuration.properties" />
            <property name="toolkit.modules.@{module}" value="true" />
        </sequential>
    </for>

    <!-- Load external modules -->
    <for list="${toolkit.modules.external}" param="module">
        <sequential>
            <echo>Importing external module : @{module}</echo>
            <import file="${application.dir.base}/@{module}/module.xml" />
            <property file="${application.dir.base}/@{module}/configuration.properties" />
        </sequential>
    </for>

    <!-- Generate list of paths to modules files -->
    <expandModulesPaths
        mandatory="${toolkit.modules.mandatory}"
        profile="${toolkit.modules}"
        external="${toolkit.modules.external}" />

    <!-- Stages -->
    <target name="build" description="Builds application">
        <iterate target="build" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="configure" description="Configures application">
        <iterate target="configure" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="init" description="Inits enabled modules">
        <iterate target="init" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="install" description="Installs application dependencies">
        <iterate target="install" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="package" description="Packages application sources into a build artifact">
        <iterate target="package" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="upload" description="Uploads build artifact to artifacts repositories">
        <iterate target="upload" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="deploy" description="Deploys application sources to remote environments">
        <iterate target="upload" basedir="${application.dir.base}" paths="${toolkit.modules.paths}" />
    </target>

    <target name="help" description="Displays project's help">
        <echo>Ananas Build Toolkit : Usage</echo>
        <java classname="org.apache.tools.ant.Main">
            <arg value="-buildfile" />
            <arg value="${ant.file}" />
            <arg value="-projecthelp" />
        </java>
        <echo>More documentation can obtained at https://github.com/constructions-incongrues/ananas-build-toolkit</echo>
    </target>
</project>
