<?xml version="1.0" encoding="UTF-8"?>
<project name="toolkit" default="help">
	<!-- Store toolkit base directory for later use -->
	<dirname property="toolkit.basedir" file="${ant.file.toolkit}/../.." />

	<!-- Project sources directory -->
	<property name="project.dirs.base" value="${basedir}" />
	<property name="project.dirs.src" value="${project.dirs.base}/src" />

	<!-- Enable ant-contrib (@see http://ant-contrib.sourceforge.net) -->
	<taskdef resource="net/sf/antcontrib/antlib.xml">
		<classpath>
			<pathelement location="${toolkit.basedir}/vendor/ant-contrib/ant-contrib-1.0b3.jar" />
		</classpath>
	</taskdef>

	<!-- Setup toolkit depending on configuration profile -->
	<!-- Guess profile -->
	<exec outputproperty="profile" logError="true" executable="whoami" />
	<echo message="Using profile : ${profile}" />

	<!-- Local configuration profile properties -->
	<property file="${project.dirs.base}/etc/${profile}/build.properties" />

	<!-- Team common properties -->
	<property file="${project.dirs.base}/etc/common/build.properties" />

	<!-- Toolkit default properties -->
	<property file="${toolkit.basedir}/modules/toolkit/build.properties" />

	<!-- Import helpers -->
	<import file="${toolkit.basedir}/modules/toolkit/helpers.xml" />

	<!-- Load modules -->
	<for list="${toolkit.modules}" param="module">
		<sequential>
			<echo>Importing module : @{module}</echo>
			<import file="${toolkit.basedir}/modules/@{module}/module.xml" />
			<property file="${toolkit.basedir}/modules/@{module}/build.properties" />
		</sequential>
	</for>

	<for list="${toolkit.modules.external}" param="module">
		<sequential>
			<echo>Importing module : @{module}</echo>
			<import file="${project.dirs.base}/@{module}/module.xml" />
			<property file="${project.dirs.base}/@{module}/build.properties" />
		</sequential>
	</for>

	<!-- Generate list of paths to modules project files -->
	<expandModulesPaths native="${toolkit.modules}" external="${toolkit.modules.external}" />

	<!-- Mandatory targets -->
	<target name="bootstrap" description="Boostraps project" depends="toolkit.init">
		<iterate target="bootstrap" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="resolve" description="Updates project dependencies">
		<iterate target="resolve" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="configure" description="Applies configuration profile to project sources">
		<iterate target="configure" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="build" description="Builds project (ORM classes generation, etc)">
		<iterate target="build" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="review" description="Runs code quality analysis on uncommited and unmerged files">
		<iterate target="review" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="migrate" description="Handles data structure and values modifications">
		<iterate target="migrate" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="sync" description="Synchronizes code with remote server(s)">
		<iterate target="sync" basedir="${project.dirs.base}" paths="${toolkit.modules.paths}" />
	</target>

	<target name="deploy" description="Configures, builds, migrates and syncs project" depends="resolve,configure,build,migrate,sync" />

	<target name="help" description="Displays project's help">
		<echo>Ananas Build Toolkit : Usage</echo>
		<java classname="org.apache.tools.ant.Main">
			<arg value="-buildfile" />
			<arg value="${ant.file}" />
			<arg value="-projecthelp" />
		</java>
		<echo>More documentation can obtained at https://github.com/constructions-incongrues/ananas-build-toolkit</echo>
	</target>

	<target name="toolkit.setprofile">
		<echo>This target is deprecated, please remove any dependency to it in your project's build file.</echo>
	</target>

	<target name="toolkit.init" description="Sets up project for usage with the toolkit" depends="toolkit.create-profile">
		<!-- Create common configuration profile -->
		<mkdir dir="${basedir}/etc/common" />
		<copy file="${toolkit.basedir}/templates/profile/build.properties" todir="${basedir}/etc/common" overwrite="false" />
		<copy file="${toolkit.basedir}/templates/profile/rsync.exclude" todir="${basedir}/etc/common" overwrite="false" />

		<!-- Create project build.xml file -->
		<copy file="${basedir}/build.xml" tofile="${basedir}/build.xml.bak" failonerror="false" overwrite="true" />
		<echo>Backuped existing build file to ${basedir}/build.xml.bak</echo>
		<copy file="${toolkit.basedir}/templates/build.xml" todir="${basedir}" overwrite="true" />
		<replace file="${basedir}/build.xml" token="@project.name@" value="${project.name}" />
	</target>

	<!-- Creates a new property file for configuration profile -->
	<target name="toolkit.create-profile">
		<!-- Create profile directory and property file if it does not exist -->
		<touch file="${basedir}/etc/${profile}/build.properties" mkdirs="true" verbose="true" />
	</target>
</project>
