<?xml version="1.0" encoding="UTF-8"?>
<project name="symfony">
    <!-- Mandatory targets -->
    <target name="init" />
	<target name="install" />
	<target name="build" depends="module.symfony.assets.install,module.symfony.assetic.dump" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

    <target name="module.symfony.assets.install" >
        <exec executable="${php.executable}" dir="${application.dir.base}/${symfony.dir.base}" failonerror="true">
            <arg line="app/console assets:install ${symfony.assets.install.options}" />
        </exec>
    </target>

    <target name="module.symfony.assetic.dump" if="${symfony.assetic.enabled}">
        <exec executable="${php.executable}" dir="${application.dir.base}/${symfony.dir.base}" failonerror="true">
            <arg line="app/console assetic:dump ${symfony.assetic.dump.options}" />
        </exec>
    </target>
</project>
