<?xml version="1.0" encoding="UTF-8"?>
<project name="filesystem">

    <!-- Mandatory targets -->
    <target name="configure" depends="create-directories,create-symlinks,set-permissions" />
    <target name="build" />
    <target name="review" />
    <target name="migrate" />
    <target name="sync" />

    <!-- Creates directories and symlinks, sets permissions -->
	<target name="create-directories">
        <script language="javascript">
            <![CDATA[
            	importClass(java.io.File);
                var paths = project.getProperty('mkdir');
                if (paths != undefined) {
                    paths = paths.split(',');
                    for (var i=0; i < paths.length; i++) {
    	                taskMkdir = project.createTask('mkdir');
    	                taskMkdir.setDir(new File(paths[i]));
    	                taskMkdir.perform();
                    }
                }
            ]]>
        </script>
	</target>

	<target name="create-symlinks">
        <propertyselector property="symlinks" delimiter="," match="symlink.(.+)" select="\1" />
        <script language="javascript">
            <![CDATA[
                var ids = project.getProperty('symlinks');
                if (ids != undefined) {
                    ids = ids.split(',');
                    for (var i = 0; i < ids.length; i++) {
                        var symlinkSpec = project.getProperty('symlink.' + ids[i]).split(',');
                        project.setProperty('symlink.current.target', symlinkSpec[0]);
                        project.setProperty('symlink.current.name', symlinkSpec[1]);
                        taskAntCall = project.createTask('antcall');
                        taskAntCall.setTarget('create-symlink');
                        taskAntCall.perform();
                    }
                }
            ]]>
        </script>
	</target>

	<target name="create-symlink">
        <exec executable="ln" failonerror="false">
            <arg value="-sfv" />
            <arg value="${symlink.current.target}" />
            <arg value="${symlink.current.name}" />
        </exec>
	</target>

	<target name="set-permissions">
        <propertyselector property="modes" delimiter="," match="chmod.(\d+)" select="\1" />
        <script language="javascript">
            <![CDATA[
                importClass(java.io.File);
                var modes = project.getProperty('modes');
                if (modes != undefined) {
                    modes = modes.split(',');
                    for (var i = 0; i < 1; i++) {
                        var mode = modes[i];
                        var paths = project.getProperty('chmod.' + mode).split(',');
                        for (var j = 0; j < paths.length; j++) {
                            var path = paths[j];
                            project.setProperty('path.current', path);
                            project.setProperty('mode.current', mode);
                            taskAntCall = project.createTask('antcall');
                            taskAntCall.setTarget('chmod');
                            taskAntCall.perform();
                        }
                    }
                }
            ]]>
        </script>
	</target>

    <target name="chmod">
        <echo>Applying mode ${mode.current} to path ${path.current}</echo>
        <chmod perm="${mode.current}" file="${path.current}" type="both" />
    </target>
</project>