<?xml version="1.0" encoding="UTF-8"?>
<project name="slack">
    <macrodef name="slackPost">
        <attribute name="channel" />
        <attribute name="username" />
        <attribute name="text" />
        <attribute name="icon" />
        <attribute name="url" />
        <sequential>
            <exec executable="curl" failonerror="true" outputproperty="slack.output">
                <arg line="curl -s -X POST --data-urlencode 'payload={&quot;channel&quot;: &quot;#@{channel}&quot;, &quot;username&quot;: &quot;@{username}&quot;, &quot;text&quot;: &quot;@{text}&quot;, &quot;icon_emoji&quot;: &quot;:@{icon}:&quot;}' @{url}" />
            </exec>
            <condition property="slack.success">
                <equals arg1="${slack.output}" arg2="ok" trim="true" />
            </condition>
            <fail unless="${slack.success}" message="Could not post to Slack : message=&quot;${slack.output}&quot;, url=@{url}" />
        </sequential>
    </macrodef>

    <!-- Mandatory targets -->
    <target name="bootstrap">
        <dirname file="${ant.file.toolkit}" property="toolkit.module.toolkitdir" />
        <dirname file="${toolkit.module.toolkitdir}/slack" property="toolkit.module.basedir" />
        <initConfiguration
            projectDir="${project.dirs.base}"
            configurationDir="${abt.dir.configuration}"
            moduleDir="${toolkit.module.basedir}"
            moduleName="slack" />
    </target>
    <target name="update" />
    <target name="configure" />
    <target name="build" />
    <target name="review" />
    <target name="migrate" />
    <target name="sync" />

    <target name="post">
        <slackPost
            channel="${slack.channel}"
            username="${slack.username}"
            text="${slack.text}"
            icon="${slack.icon}"
            url="${slack.url}" />
    </target>
</project>
