<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:if="ant:if" name="rsync" default="help">
	<!-- Stages hooks -->
	<target name="build" depends="symfony.build.commands" />
	<target name="configure" />
	<target name="deploy" />
    <target name="init" />
	<target name="install" />
	<target name="package" />
	<target name="upload" />

    <target name="symfony.build.commands" description="Executes Symfony build commands">
        <propertyselector property="symfony.commands.build" delimiter="," match="symfony\.command\.build\.([^\.]*)\.enabled" select="\1" />
        <for list="${symfony.commands.build}" param="command">
            <sequential>
                <echo
                    message="Executing Symfony command '${symfony.command.build.@{command}.name}'"
                    level="info"
                    if:true="${symfony.command.build.@{command}.enabled}" />
                <exec executable="${symfony.executable.console}" failonerror="true" if:true="${symfony.command.build.@{command}.enabled}">
                    <arg line="${symfony.command.build.@{command}.name}" />
                    <arg line="${symfony.command.build.@{command}.parameters}" />
                    <arg line="--env=${symfony.command.build.@{command}.environment}" />
                </exec>
            </sequential>
        </for>

    </target>
</project>