<?xml version="1.0" encoding="UTF-8"?>
<project name="symfony3">
    <!-- Mandatory targets -->
    <target name="bootstrap" />
    <target name="update" />
    <target name="configure" />
    <target name="build" depends="symfony3.assets.install,symfony3.cache.clear" />
    <target name="review" />
    <target name="migrate" />
    <target name="sync" />

    <target name="symfony3.assets.install" >
        <!-- On installe les assets avec l'option symlink -->
        <exec executable="php" dir="${project.dirs.base}/${symfony3.dirs.base}" failonerror="true">
            <arg line="bin/console assets:install web --env=${symfony3.environment} --symlink --relative" />
        </exec>
    </target>

    <target name="symfony3.doctrine.cache.clear" if="${symfony3.doctrine.enabled}">
        <!-- On vide le cache -->
        <exec executable="php" dir="${project.dirs.base}/${symfony3.dirs.base}" failonerror="true">
            <arg line="bin/console doctrine:cache:clear-metadata --env=${symfony3.environment}" />
        </exec>
    </target>

    <target name="symfony3.cache.clear" depends="symfony3.doctrine.cache.clear">
        <!-- On vide le cache -->
        <exec executable="php" dir="${project.dirs.base}/${symfony3.dirs.base}" failonerror="true">
            <arg line="bin/console cache:clear --env=${symfony3.environment}" />
        </exec>
    </target>

</project>
