<?xml version="1.0" encoding="UTF-8"?>
<project name="grunt">
    <dirname property="grunt.basedir" file="${ant.file.grunt}" />

    <!-- Mandatory targets -->
    <target name="init" />
	<target name="install" />
	<target name="build" depends="module.grunt.build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

    <!-- toolkit phase : build -->
	<target name="module.grunt.build" description="Triggers Grunt build">
        <exec dir="${application.dir.base}" executable="${grunt.executable}" failonerror="true">
			<arg line="${grunt.build.options}" />
		</exec>
	</target>
</project>
