<?xml version="1.0" encoding="UTF-8"?>
<project name="symfony1">
	<!-- toolkit phase : build -->
	<target name="symfony1.orm" description="Generates ORM classes needed for the project to work properly">
		<antcall target="symfony1.12.orm" />
		<antcall target="symfony1.14.orm" />
	</target>

	<target name="symfony1.12.orm" if="${symfony1.version12}" failonerror="true">
		<exec executable="${php.executable}">
			<arg line="${symfony1.executable} doctrine:build-model" />
		</exec>
	</target>

	<target name="symfony1.14.orm" if="${symfony1.version14}" failonerror="true">
		<exec executable="${php.executable}">
			<arg line="${symfony1.executable} doctrine:build --all-classes" />
		</exec>
	</target>
</project>
