<?xml version="1.0" encoding="UTF-8"?>
<project name="symfony1">
	<!-- Mandatory targets -->
    <target name="init" />
	<target name="install" />
	<target name="build" depends="module.symfony1.build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

	<!-- toolkit phase : build -->
	<target name="module.symfony1.build" description="Generates ORM classes needed for the project to work properly" depends="module.symfony1.build.12,module.symfony1.build.14" />

	<target name="module.symfony1.build.12" if="${symfony1.version12}">
		<exec executable="${php.executable}" failonerror="true">
			<arg line="${application.dir.base}/${symfony1.executable} doctrine:build-model" />
		</exec>
	</target>

	<target name="module.symfony1.build.14" if="${symfony1.version14}">
		<exec executable="${php.executable}" failonerror="true">
			<arg line="${application.dir.base}/${symfony1.executable} doctrine:build --all-classes" />
		</exec>
	</target>
</project>
