<?xml version="1.0" encoding="UTF-8"?>
<project name="symfony1">
	<!-- Mandatory targets -->
	<target name="bootstrap" />
	<target name="update" />
	<target name="configure" />
	<target name="build" depends="orm,sf1.cc" />
	<target name="review" />
	<target name="migrate" />
	<target name="sync" />

	<!-- toolkit phase : build -->
	<target name="orm" description="Generates ORM classes needed for the project to work properly">
		<antcall target="12.orm" />
		<antcall target="14.orm" />
	</target>

	<target name="12.orm" if="${symfony1.version12}">
		<property file="${toolkit.basedir}/modules/php/build.properties" />
		<exec executable="${php.executable}" failonerror="true">
			<arg line="${project.dirs.base}/${symfony1.executable} doctrine:build-model --env=${symfony1.environment}" />
		</exec>
	</target>

	<target name="14.orm" if="${symfony1.version14}">
		<property file="${toolkit.basedir}/modules/php/build.properties" />
		<exec executable="${php.executable}" failonerror="true">
			<arg line="${project.dirs.base}/${symfony1.executable} doctrine:build --all-classes --env=${symfony1.environment}" />
		</exec>
	</target>

	<target name="sf1.cc">
		<property file="${toolkit.basedir}/modules/php/build.properties" />
		<exec executable="${php.executable}" failonerror="true">
			<arg line="${project.dirs.base}/${symfony1.executable} cc --env=${symfony1.environment}" />
		</exec>
	</target>
</project>
