<?xml version="1.0" encoding="utf-8"?>
<project name="liquibase">

	<!-- Mandatory targets -->
	<target name="bootstrap" depends="create-directories" />
	<target name="update" />
	<target name="configure" />
	<target name="build" />
	<target name="review" />
	<target name="migrate" depends="migrate.databases" />
	<target name="sync" />

	<target name="create-directories">
		<mkdir dir="${project.dirs.base}/${liquibase.changelogs}" />
	</target>

	<!-- toolkit phase : build -->
	<target name="migrate.databases" description="Migrates all databases">
		<foreach target="migrate.do" param="liquibase.changelog" inheritall="true">
			<path>
				<fileset dir="${project.dirs.base}/${liquibase.changelogs}" includes="*-master.xml" />
			</path>
		</foreach>
	</target>

	<target name="migrate.do">
		<propertyregex property="runtime.db.name" input="${liquibase.changelog}" regexp="(\w+)-master.xml" select="\1" />

		<antcall target="migrate.database" inheritall="true" />
	</target>

	<target name="migrate.database" description="Migrates a database" depends="config,init">
		<if>
			<equals arg1="${liquibase.tunnel.enabled}" arg2="true" />
			<then>
				<echo>Using DSN : "jdbc:mysql://${liquibase.tunnel.host}:${liquibase.tunnel.port}/${current.db.name}?${liquibase.connection.parameters}"</echo>
                		<if>
        				<equals arg1="${current.db.password}" arg2="''" />
                    			<then>
                        			<updateDatabase changeLogFile="${liquibase.changelog}" driver="com.mysql.jdbc.Driver" url="jdbc:mysql://${liquibase.tunnel.host}:${liquibase.tunnel.port}/${current.db.name}?${liquibase.connection.parameters}" username="${current.db.username}" promptOnNonLocalDatabase="false" dropFirst="false" classpathref="classpath" />
                    			</then>
                    			<else>
                        			<updateDatabase changeLogFile="${liquibase.changelog}" driver="com.mysql.jdbc.Driver" url="jdbc:mysql://${liquibase.tunnel.host}:${liquibase.tunnel.port}/${current.db.name}?${liquibase.connection.parameters}" username="${current.db.username}" password="${current.db.password}" promptOnNonLocalDatabase="false" dropFirst="false" classpathref="classpath" />
                    			</else>
                		</if>
			</then>
			<else>
				<echo>Using DSN : "jdbc:mysql://${current.db.host}:${current.db.port}/${current.db.name}?${liquibase.connection.parameters}"</echo>
				<if>
					<equals arg1="${current.db.password}" arg2="''" />
					<then>
						<updateDatabase changeLogFile="${liquibase.changelog}" driver="com.mysql.jdbc.Driver" url="jdbc:mysql://${current.db.host}:${current.db.port}/${current.db.name}?${liquibase.connection.parameters}" username="${current.db.username}" promptOnNonLocalDatabase="false" dropFirst="false" classpathref="classpath" />
					</then>
					<else>
						<updateDatabase changeLogFile="${liquibase.changelog}" driver="com.mysql.jdbc.Driver" url="jdbc:mysql://${current.db.host}:${current.db.port}/${current.db.name}?${liquibase.connection.parameters}" username="${current.db.username}" password="${current.db.password}" promptOnNonLocalDatabase="false" dropFirst="false" classpathref="classpath" />
					</else>
				</if>
			</else>
		</if>
	</target>

	<target name="config">
		<echo>Configuring for database "${runtime.db.name}"</echo>
		<script language="javascript">
			<![CDATA[
	            // Get current database name
	            var currentDatabase = project.getProperty("runtime.db.name");

	            // Set current.db.* properties
	            var keys = ['name', 'host', 'username', 'password', 'port', 'encoding'];
	            for (var i = 0; i < keys.length; i++) {
	               var k = keys[i];
	               project.setNewProperty('current.db.' + k, project.getProperty('database.' + currentDatabase + '.' + k));
	            }
	            ]]>
		</script>
	</target>

	<!-- Initializes liquibase environment -->
	<target name="init">
		<path id="classpath">
			<fileset dir="vendor/liquibase">
				<include name="liquibase.jar" />
			</fileset>
			<fileset dir="vendor/liquibase/drivers/mysql-connector-java">
				<include name="**/*.jar" />
			</fileset>
		</path>

		<taskdef resource="liquibasetasks.properties">
			<classpath refid="classpath" />
		</taskdef>
	</target>

</project>
