<?xml version="1.0" encoding="UTF-8"?>
<project name="meteor">
    <!-- Mandatory targets -->
	<target name="build" depends="meteor.bundle" />
	<target name="configure" />
	<target name="deploy" />
	<target name="init" />
	<target name="install" />
	<target name="package" />
	<target name="upload" />

    <target name="meteor.bundle" description="Builds Meteor application bundle">
        <mkdir dir="${meteor.dir.src}" />
        <mkdir dir="${meteor.dir.build}" />
        <exec executable="${meteor.executable}" dir="${meteor.dir.src}">
            <arg line="npm install" />
        </exec>
        <exec executable="${meteor.executable}" dir="${meteor.dir.src}">
            <arg line="build --directory ${meteor.dir.build} ${meteor.build.parameters}" />
        </exec>
        <exec executable="${meteor.executable}" dir="${meteor.dir.src}">
            <arg line="build --directory ${meteor.dir.build} ${meteor.build.parameters}" />
        </exec>
        <exec executable="${meteor.executable}" dir="${meteor.dir.build}/bundle/programs/server">
            <arg line="npm install" />
        </exec>
    </target>
</project>
