<?xml version="1.0" encoding="UTF-8"?>
<project name="meteor">
    <!-- Mandatory targets -->
    <target name="bootstrap" />
    <target name="update" />
    <target name="configure" />
    <target name="build" depends="meteor.build_bundle" />
    <target name="review" />
    <target name="migrate" />
    <target name="sync" />

    <target name="meteor.build_bundle">
        <exec executable="${meteor.executable}" dir="${project.dirs.base}/${meteor.src}">
            <arg line="npm install" />
        </exec>
        <exec executable="${meteor.executable}" dir="${project.dirs.base}/${meteor.src}">
            <arg line="build --directory ${project.dirs.base}/${meteor.build-dir} ${meteor.build-parameters}" />
        </exec>
        <exec executable="${meteor.executable}" dir="${project.dirs.base}/${meteor.build-dir}/bundle/programs/server">
            <arg line="npm install" />
        </exec>
        <exec executable="${meteor.executable}" dir="${project.dirs.base}/${meteor.src}">
            <arg line="build --directory ${project.dirs.base}/${meteor.build-dir} ${meteor.build-parameters}" />
        </exec>
    </target>
</project>
