<?xml version="1.0" encoding="UTF-8"?>
<project name="meteor">
    <!-- Mandatory targets -->
	<target name="init" />
	<target name="install" />
	<target name="build" depends="module.meteor.build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />

    <target name="module.meteor.build" description="">
        <mkdir dir="${application.dir.base}/${meteor.dir.build}/bundle/programs/server" />
        <exec executable="${meteor.executable}" dir="${application.dir.base}/${meteor.dir.src}" failonerror="true">
            <arg line="build ${meteor.build.options} --directory ${application.dir.base}/${meteor.dir.build}" />
        </exec>
        <exec executable="${npm.executable}" dir="${application.dir.base}/${meteor.dir.build}/bundle/programs/server">
            <arg line="install" />
        </exec>
    </target>
</project>
