<?xml version="1.0" encoding="UTF-8"?>
<project name="blueprint">
    <!-- Stages hooks -->
	<target name="build" />
	<target name="configure" />
    <target name="deploy" />
    <target name="init" />
	<target name="install" depends="blueprint.makeinstall" />
	<target name="package" />
	<target name="upload" />

    <target name="blueprint.makeinstall" description="Calls activated blueprint's installation script">
        <ant antfile="${application.dir.base}/etc/modules/blueprint/${blueprint.enabled}/install.xml" target="install" />
    </target>

    <target name="blueprint.create" description="Creates a new blueprint">
        <!-- Parameters -->
        <fail unless="blueprint.base" />
        <fail unless="blueprint.name" />
        <property name="blueprint.overwrite" value="false" />

        <!-- Copy blueprint files to configuration profile -->
        <copy todir="${application.dir.base}/etc/modules/blueprint/${blueprint.name}" overwrite="${blueprint.overwrite}" taskname="blueprint">
            <fileset dir="${blueprint.dir}/${blueprint.base}" includes="**" />
            <filterchain>
                <tokenfilter>
                    <replacestring from="${blueprint.base}" to="${blueprint.name}" />
                </tokenfilter>
            </filterchain>
        </copy>

        <!-- Load blueprint's default properties -->
        <property file="${application.dir.base}/etc/modules/blueprint/${blueprint.name}/blueprint.properties" />

        <!-- Put blueprint properties in configuration module buffer -->
        <concat destfile="${configuration.buffer.file}" overwrite="true" append="true" taskname="blueprint">
            <fileset file="${application.dir.base}/etc/modules/blueprint/${blueprint.name}/blueprint.properties" />
            <filterchain>
                <tokenfilter>
                    <uniqfilter />
                </tokenfilter>
            </filterchain>
        </concat>

        <!-- Update configuration profile with blueprint's properties -->
        <antcall target="configuration.update" />
    </target>
</project>
