<?xml version="1.0" encoding="UTF-8"?>

<!-- Composer (http://getcomposer.org) module -->
<project name="composer">
	<!-- toolkit phase : build -->
	<target name="composer.update" description="Updates dependencies managed by composer" depends="setprofile">
		<exec dir="src" executable="${composer.executable}" failOnError="true" resolveexecutable="true">
			<arg line="update" />
		</exec>
	</target>
</project>