<?xml version="1.0" encoding="UTF-8"?>
<project name="@module.name@">
    <!-- Mandatory targets -->
    <target name="init">
        <dirname file="${ant.file.toolkit}" property="toolkit.module.toolkitdir" />
        <dirname file="${toolkit.module.toolkitdir}/@module.name@" property="toolkit.module.basedir" />
        <initConfiguration
            projectDir="${application.dir.base}"
            configurationDir="${toolkit.dir.configuration}"
            moduleDir="${toolkit.module.basedir}"
            moduleName="@module.name@" />
    </target>
	<target name="install" />
	<target name="build" />
	<target name="package" />
	<target name="upload" />
	<target name="configure" />
</project>
