<?xml version="1.0" encoding="UTF-8"?>
<project name="configuration" default="help">
	<!-- Stages hooks -->
	<target name="configure" depends="configuration.apply" />
	<target name="init" />
	<target name="install" />
	<target name="build" />
	<target name="package" depends="configuration.dotenv" />
	<target name="upload" />

	<target name="configuration.apply" description="Applies profile configuration">
		<!-- Make all configuration available -->
		<tempfile property="configuration.loaded" deleteonexit="true" />
		<echoproperties destfile="${configuration.loaded}" />

		<!-- Fix echoproperties lame escaping -->
		<replace file="${configuration.loaded}" token="\:" value=":" />
		<replace file="${configuration.loaded}" token="\#" value="#" />
		<replace file="${configuration.loaded}" token="\!" value="!" />
		<replace file="${configuration.loaded}" token="\=" value="=" />

		<!-- Replace tokens with values in dist files and copy them with the right name -->
		<copy verbose="true" todir="${application.dir.base}" overwrite="true">
			<fileset dir="${application.dir.base}" includes="**/*${configuration.suffix}" />
			<mapper type="glob" from="*${configuration.suffix}" to="*" />
			<filterset begintoken="${configuration.token}" endtoken="${configuration.token}" filtersfile="${configuration.loaded}" />
		</copy>
	</target>

	<target name="configuration.update" description="Searches for property tokens in dist files and adds missing configuration to common profile">
		<tempfile property="configuration.found.file" deleteonexit="true" />
		<for param="file">
			<path>
				<fileset dir="${application.dir.base}" includes="**/*${configuration.suffix}" />
			</path>
			<sequential>
				<var name="configuration.found" unset="true" />
				<loadfile srcFile="@{file}" property="configuration.found">
					<filterchain>
						<!-- Put tokens on single lines -->
						<tokenfilter>
							<replaceregex pattern="(${configuration.token}[^${configuration.token}]+${configuration.token})" replace="${line.separator}\1${line.separator}" flags="g" />
						</tokenfilter>
						<!-- Remove lines not containing tokens-->
						<linecontainsregexp>
							<regexp pattern="^${configuration.token}.+${configuration.token}$" />
						</linecontainsregexp>
						<!-- Transform tokens into configuration declarations -->
						<tokenfilter>
							<replaceregex pattern="^${configuration.token}(.+)${configuration.token}$" replace="\1=" />
						</tokenfilter>
					</filterchain>
				</loadfile>
				<echo message="${configuration.found}" file="${configuration.found.file}" append="true" />
			</sequential>
		</for>

		<!-- Merge found configuration with configuration already in configuration profile -->
		<property prefix="configuration.merge" file="${configuration.dir}/profiles/${configuration.profile}/build.properties" />
		<property prefix="configuration.merge" file="${configuration.found.file}" />
		<touch file="${configuration.dir}/profiles/${configuration.profile}/build.properties" mkdirs="true" />
		<echoproperties destfile="${configuration.dir}/profiles/${configuration.profile}/build.properties">
			<propertyset>
				<propertyref prefix="configuration.merge"/>
				<mapper type="glob" from="configuration.merge.*" to="*"/>
			</propertyset>
		</echoproperties>

		<!-- Fix echoproperties lame escaping -->
		<replace file="${configuration.dir}/profiles/${configuration.profile}/build.properties" token="\:" value=":" />
		<replace file="${configuration.dir}/profiles/${configuration.profile}/build.properties" token="\#" value="#" />
		<replace file="${configuration.dir}/profiles/${configuration.profile}/build.properties" token="\!" value="!" />
		<replace file="${configuration.dir}/profiles/${configuration.profile}/build.properties" token="\=" value="=" />

		<!-- Log message -->
		<echo message="Updated configuration profile in ${configuration.dir}/profiles/${configuration.profile}/build.properties" />
	</target>

	<target name="configuration.dotenv" description="Exports profile configuration to environment variables declarations in a file">
		<copy
			file="${configuration.dir}/profiles/${configuration.profile}/build.properties"
			tofile="${configuration.dir}/profiles/${configuration.profile}/build.env"
			overwrite="true">
			<filterchain>
				<!-- Remove comments generated by echoproperties -->
				<striplinecomments>
					<comment value="#"/>
				</striplinecomments>

				<!-- Make property names shell compatible (capitalize, replace dots by underscores, quote values) -->
				<tokenfilter>
					<scriptfilter language="javascript">
						var parts = self.getToken().split('=');
						self.setToken(parts[0].replace(/\./g, '_').toUpperCase() + '="' + parts[1] + '"');
					</scriptfilter>
				</tokenfilter>
			</filterchain>
		</copy>
	</target>
</project>
