<?xml version="1.0" encoding="UTF-8"?>
<project name="git">
	<!-- Mandatory targets -->
	<target name="bootstrap" />
	<target name="update" depends="git.pull,git.update-submodules" />
	<target name="configure" />
	<target name="build" />
	<target name="review" />
	<target name="migrate" />
	<target name="sync" />

	<!-- Pulls latest modifications from remote -->
	<target name="git.pull">
		<exec executable="${git.executables.git}" dir="${project.dirs.base}">
			<arg line="pull ${git.remotes.origin} ${git.branches.master}" />
		</exec>
	</target>

	<!-- Recursively updates project's git submodules -->
	<target name="git.update-submodules">
		<exec executable="${git.executables.git}" dir="${project.dirs.base}"> 
			<arg line="submodule update --init --recursive" />
		</exec>
	</target>

	<!-- Pushes the branch your working on to the same branch on remote -->
	<target name="git.push">
		<exec executable="${git.executables.git}" failonerror="true" outputproperty="git.branches.current">
			<arg line="rev-parse --abbrev-ref HEAD"/>
		</exec>

		<echo>You're working on the branch "${git.branches.current}"</echo>
		<echo>Push git branch "${git.branches.current}" to "${git.origin}"</echo>
		<exec executable="${git.executables.git}" failonerror="true">
			<arg line="push ${git.remotes.origin} ${git.branches.current}" />
		</exec>
	</target>

	<!-- Creates a pull-request for the branch you're working on -->
	<!-- TODO : create a dedicated "github" module ? -->
	<!-- TODO : create a github.auth task ? -->
	<target name="git.pull-request">
	 	<input message="Please specify the title of this pull request" addproperty="git.github.pullRequestTitle" />

		<exec executable="${git.executables.git}" failonerror="true" outputproperty="git.branches.current">
			<arg line="rev-parse --abbrev-ref HEAD"/>
		</exec>

		<echo>You're working on the branch "${git.branches.current}"</echo>
		<echo>Create a pull request for the branch "${git.branches.current}" to "${git.branches.integration}"</echo>
		<exec executable="${git.executables.hub}" failonerror="true">
			<arg line='pull-request "${git.github.pullRequestTitle}" -b ${git.branches.integration} -h ${git.github.organization}:${git.branches.current}'/>
		</exec>
	</target>
</project>
