<?xml version="1.0" encoding="UTF-8"?>
<project name="git">
	<!-- Mandatory targets -->
	<target name="bootstrap" />
	<target name="update" depends="git.pull,git.update-submodules" />
	<target name="configure" />
	<target name="build" />
	<target name="review" />
	<target name="migrate" />
	<target name="sync" />

	<target name="git.pull" description="Pulls latest modifications from remote">
		<exec executable="${git.executable}" dir="${project.dirs.base}">
			<arg line="pull ${git.remote} ${git.branch}" />
		</exec>
	</target>

	<target name="git.update-submodules" description="Recursively updates project's git submodules">
		<exec executable="${git.executable}" dir="${project.dirs.base}"> 
			<arg line="submodule update --init --recursive" />
		</exec>
	</target>

	<target name="git.push" description="Pushes the branch your working on to the same branch on remote">
		<exec executable="${git.executable}" failonerror="true" outputproperty="currentBranch">
			<arg line="rev-parse --abbrev-ref HEAD"/>
		</exec>

		<echo>You're working on the branch "${currentBranch}"</echo>
		<echo>Push git branch "${currentBranch}" to "${git.origin}"</echo>
		<exec executable="${git.executable}" failonerror="true">
			<arg line="push ${git.remote} ${currentBranch}"/>
		</exec>
	</target>

	<target name="hub.pull-request" description="create a pull-request for the branch you're working on">
		<input message="message of the pull request" addproperty="pull-request.message" />
		<input message="branch base" addproperty="branch.base" />
		<input message="github username" addproperty="github.username" />
		<input message="github password" addproperty="github.password" />
		<exec executable="git" failonerror="true" outputproperty="git.branch">
			<arg line="rev-parse --abbrev-ref HEAD"/>
		</exec>

		<echo>You're working on the branch "${git.branch}"</echo>
		<echo>Create a pull request for the branch "${git.branch}" to "release/next"</echo>
		<exec executable="hub" failonerror="true">
			<env key="GITHUB_USERNAME" value="${github.username}"/>
			<env key="GITHUB_PASSWORD" value="${github.password}"/>
			<arg line='pull-request ${pull-request.message} -b ${branch.base} -h ${git.branch}'/>
		</exec>
	</target>
</project>
