<?xml version="1.0" encoding="UTF-8"?>
<project name="tar">
    <!-- Stages hooks -->
	<target name="build" />
	<target name="configure" />
    <target name="deploy" />
    <target name="init">
        <dirname file="${ant.file.toolkit}" property="toolkit.module.toolkitdir" />
        <dirname file="${toolkit.module.toolkitdir}/tar" property="toolkit.module.basedir" />
        <initConfiguration
            configurationDir="${configuration.dir.profiles}/${configuration.profile}"
            moduleDir="${toolkit.module.basedir}/.."
            moduleName="tar" />
    </target>
	<target name="install" />
	<target name="package" depends="tar.archive" />
	<target name="upload" />

    <target name="tar.archive" description="Packages application sources into a tar archive">
        <tar
            basedir="${application.dir.base}${tar.dir.base}"
            compression="${tar.compression}"
            destfile="${application.dir.base}/dist/${tar.package.filename}"
            includesfile="${configuration.dir.profiles}/${configuration.profile}/modules/tar/includes"
            excludesfile="${configuration.dir.profiles}/${configuration.profile}/modules/tar/excludes"
            longfile="posix"
            taskname="tar" />
    </target>
</project>
