<?xml version="1.0" encoding="UTF-8"?>
<project name="rsync2">	
	<!-- Mandatory targets -->
	<target name="bootstrap" />
	<target name="update" />
	<target name="configure" />
	<target name="build" />
	<target name="review" />
	<target name="migrate" />
	<target name="sync" depends="ssh" />

	<target name="deploy-assets">
		<echo>Deploy Rsync assets to common configuration</echo>
		<dirname file="${ant.file.rsync}" property="toolkit.module.basedir" />
  		<copy todir="${project.dirs.base}/etc/common">
			<fileset dir="${toolkit.module.basedir}/assets" includes="*" />
		</copy>
	</target>
	
	<!-- Syncs your project files to a remote destination -->
	<target name="ssh">
		<!-- Sanity checks -->
		<fail unless="remote.username" />
		<fail unless="remote.host" />
		<fail unless="remote.path.root" />

		<echo>Rsyncing to ${remote.username}@${remote.host}:${remote.path.root}</echo>
		<echo>rsync additional options : ${rsync.options}</echo> 

        <if>
            <available file="${project.dirs.base}/etc/common/rsync.include"/>
            <then>
                <property name="rsync.include" location="${project.dirs.base}/etc/common/rsync.include"/>
            </then>
            <else>
                <property name="rsync.include" value=""/>
            </else>
        </if>        
		<exec executable="rsync" failonerror="true">
			<arg line="
              --exclude-from=${project.dirs.base}/etc/common/rsync.exclude
              ${rsync.include}
              --force
              --links
	      ${rsync.options}
              -agpvzc ${project.dirs.base}/ -e ssh ${remote.username}@${remote.host}:${remote.path.root}" />
		</exec>
	</target>
	
</project>
